apify-client==1.6.4
beautifulsoup4==4.12.3
firebase-admin==6.5.0
firebase-functions==0.1.2
langchain==0.2.3
langchain-community==0.2.4
langchain-openai==0.1.8
notion-client==2.2.1
python-dotenv==1.0.1
youtube_transcript_api==0.6.1