html, body {
  margin: 2px;
  padding: 2px;
}

.container {
  display: flex;
  justify-content: center;
  margin: 4px auto;
}

h1 {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
    color: #070707;
    margin-bottom: 8px;
    margin-top: 0;
    padding: 0;
}


button {
  appearance: none;  
  background-color: #F7F8FA;
  border: 1px solid rgba(27, 31, 35, 0.1);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.03) 0 1px 0, rgba(255, 255, 255, 0.2) 0 1px 0 inset;
  box-sizing: border-box;
  color: #070707; 
  cursor: pointer;
  display: inline-block;
  font-size: 12px; 
  font-weight: 500;
  line-height: 18px; 
  list-style: none;
  padding: 4px 4px; 
  position: relative;
  text-align: center;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

button:hover {
  background-color: #EAECEF;
  text-decoration: none;
  transition-duration: 0.1s;
}

button:disabled {
  background-color: #F7F8FA;
  border-color: rgba(27, 31, 35, 0.1); 
  color: #A0A0A0;
  cursor: default;
}

button:active {
  background-color: #DDE0E5;
  box-shadow: rgba(225, 228, 232, 0.15) 0 1px 0 inset;
  transition: none 0s;
}

button:focus {
  outline: 1px transparent;
}

button:before {
  display: none;
}

button:-webkit-details-marker {
  display: none;
}
